extends layout

block vars
    -var title='AroundTheWord';

block mixins
    mixin panel(i,j)
        - for(;i-->0;){    
        div.panel.panel-success.margin-top-20
            div.panel-heading Panel #{i}
            div.panel-body="Some content"
            div.panel-footer.clearfix
                - for(var jj=j;jj-->0;){    
                div.col-md-4 content #{jj}
                - }
        - }

block append css
    link(rel="stylesheet", type="text/css", href="circle.css")

block append js
    script(src="Letter.js")
    script(src="Letters.js")
    //script(src="Stopwatch.js")

block content
    body.container
        div.row
            div.col-md-3
                div.panel.panel-success.margin-top-20
                    div.panel-heading Time 
                        span.glyphicon.glyphicon-time
                    div.panel-body
                        span#challengeState idle
                    div.panel-footer.clearfix.text-center
                        h2.center-block.marg-0
                            span.label.label-default#sw
                +panel(3,3)
            div.col-md-9
                div#circleContainer
                    div#questionContainer
                        div.question 
                            
                        input.form-control.ans(type="text")
                        div.btnContainer
                            button.btn.btn-primary(data-action="start") start challenge
                            button.btn.btn-warning(data-action="pass", style="display:none") pass

    script(src="main.js")
