block vars

block mixins

doctype html
html
    head
        title=title
        block css
            link(rel="stylesheet" type="text/css" href="bootstrap.css")
            link(rel="stylesheet" type="text/css" href="shared.css")

        block js
            script(src="jquery-1.11.1.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
            script(src="bootstrap.min.js")
            script(src="dbClient.js")
    
    block content
    block footer
        nav.navbar.navbar-inverse.navbar-fixed-bottom
            div.container 
                p.navbar-text.navbar-left @AroundTheWord
