#circleContainer{
	height:400px;
	width:400px;
	padding:0;
	margin:0;
	/*border:1px solid #303030;*/
	position:relative;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	
	
}
#circleContainer .letter{
	opacity:0;
	/*border: 1px solid #606060;*/
    border-radius: 100%;
    position: absolute;
	cursor:pointer;
    /* display: table-cell; */
    /* vertical-align: middle; */
    text-align: center;
    font-family: consolas;
    font-size: 30px;
    padding: 0;
    margin: 0;
	transition:all .5s ease-in-out 0s;
	/*transition:left .5s ease-in-out 0s;*/
}

#circleContainer .letter.init{background-color:#F9F900;}
#circleContainer .letter.right{background-color:#77D777;}
#circleContainer .letter.wrong{background-color:#FF6E6E;}
#circleContainer .letter.current,
#circleContainer .letter:hover{
	background-color: #9393F8;color: #F9FCFF;
}

#circleContainer #questionContainer{
	position:relative;
	height: 70%;
    width: 70%;
    background-color: #D7D8D7;
    border-radius: 100%;
    margin: auto;
	display:none;
    
}
#circleContainer #questionContainer .question,
#circleContainer #questionContainer .ans{
	/*display:none;*/
	position:absolute;
}

#circleContainer #questionContainer .ans{
	border: none;
    border-radius: 15px;
    height: 30px;
    width: 80%;
	bottom: 38%;
    left: 10%;
}
#circleContainer #questionContainer .question{
    height: 30px;
    width: 80%;
	text-align:center;
	top: 35%;
    left: 10%;
}
#circleContainer #questionContainer .ans:focus{border:none;outline:none;}

#circleContainer #questionContainer .btnContainer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}